/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    box-sizing: border-box;
}

body {
    line-height: 1;
}

a {
    text-decoration: none;
    color: unset;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1>span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
}

li:hover {
    color: #b1663c;
}

.bold-link {
    font-weight: 900;
}

.bold-link:hover {
    color: black;
}

#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1;
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

.title-project {
    position: relative;
    text-align: center;
    margin-bottom: 1em;
}

.edit-gallery {
    position: absolute;
    top: 25%;
    margin-left: 2em;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.edit-gallery::after {
    content: 'modifier';
    font-family: 'Work Sans';
    margin-left: 0.5em;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}

.filters {
    position: relative;
    left: 25%;
    display: flex;
    justify-content: space-evenly;
    width: 585px;
    height: 37px;
    font-family: 'Syne';
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 2em;
}

.filters .filter {
    cursor: pointer;
    width: -moz-fit-content;
    /* Firefox */
    width: fit-content;
    padding: 7px 15px;
    border-radius: 60px;
    color: #1d6154;
    border: 1px solid #1d6154;
}

.filters .selected {
    cursor: pointer;
    width: -moz-fit-content;
    /* Firefox */
    width: fit-content;
    padding: 7px 15px;
    border-radius: 60px;
    color: white;
    background-color: #1d6154;
    border: 1px solid #1d6154;
}

#contact,
#login {
    width: 50%;
    margin: auto;
}

#login {
    margin-top: 10rem;
}

#contact>*,
#login>* {
    text-align: center;
}

#contact h2,
#login h2 {
    margin-bottom: 20px;
}

#contact form,
#login form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input,
#login input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
    margin: 2em 0 1em 0;
}

#contact textarea,
#login textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login .forgot-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    margin: auto;
    margin-bottom: 5rem;
}

#login .forgot-link:hover {
    color: #b1663c;
}

input[type='submit'] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #0E2F28;
}

.incorrect {
    color: red;
    padding-top: 1rem;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

.editBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: black;
    color: white;
    height: 4em;
}

/* Gest Modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 630px;
    min-height: 688px;
    max-height: calc(100vh - 20px);
    overflow: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.modal-wrapper h2 {
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.modal-wrapper .mini-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 9px;
    grid-row-gap: 20px;
    margin-top: 40px;
    padding: 0 25px;
}

.mini-gallery img {
    width: 100%;
}

.mini-gallery figure {
    position: relative;
}

.mini-gallery i {
    position: absolute;
    font-size: 12px;
    color: white;
    background-color: black;
    padding: 4px;
    right: 5px;
    top: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.close {
    align-self: flex-end;
    text-align: center;
}

.close i {
    width: 24px;
    height: 24px;
    font-size: 24px;
    cursor: pointer;
}

.line-button {
    justify-self: flex-end;
    margin-top: 40px;
}

.separator-line {
    width: 420px;
    border: 1px solid #B3B3B3;
    ;
}

.add-work {
    display: block;
    width: 237px;
    height: 36px;
    border-radius: 60px;
    background-color: #1D6154;
    font-family: 'Syne';
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin: 35px auto 15px auto;
    cursor: pointer;
}